<div>
    <h1>Find or make an attack</h1>

    Name: <input type="text" name="name">
    Bonuses: <input type="number" name="attackbonus">
    Damage: <input type="text" name="damage">
    Saving DC: <input type="boolean" name="savingDc">

    <input type="text" name="search" value="Find Spell">
</div>