<h1>Character Stat</h1>


<% characters.forEach(character=>{ %>
    <div>
        <h2><%= character.name %></h3>
        
        <p><%= character.health %></p>
        <p><%= character.acStack %></p>
    </div>
<% }); %>