<form action="/character" method="POST">
    Name: <input type="text" name="name">
    Class: <input type="text" name="job">
    Health: <input type="number" name="health">
    Armor Class: <input type="number" name="acStack">
    Attributes: <input type="number" name="str" id="attributes">
    <input type="number" name="dex" id="attributes">
    <input type="number" name="con" id="attributes">
    <input type="number" name="int" id="attributes">
    <input type="number" name="wis" id="attributes">
    <input type="number" name="cha" id="attributes">
    <input type="submit" value="Create">
</form>