<form action="/character" method="POST">
    Name: <input type="text" name="name">
    Class: <input type="text" name="job">
    Health: <input type="number" name="health">
    Armor Class: <input type="number" name="acStack">
    <div></div>
    <label>Strength: </label>
    <input type="number" name="str" id="attributes">
    Dexterity: <input type="number" name="dex" id="attributes">
    Constitution: <input type="number" name="con" id="attributes">
    
    Intelligence: <input type="number" name="int" id="attributes">
    Wisdom: <input type="number" name="wis" id="attributes">
    Charisma: <input type="number" name="cha" id="attributes">
</div>
    <input type="submit" value="Create">
</form>