<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DND List</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <a href="/">Home Page</a>
    <% //if (currentUser) { %> 
    <a href="/auth/logout">Logout</a>
    <% //} else { %>
    <a href="/auth/signup">Sign Up</a>
    <a href="/auth/login">Log In</a>
    <% //} %>
    <a href="/character">Character Sheet</a>
    <a href="/enemy">Enemy Sheet</a>
    <%- body %>

    <script src="/js/app.js"></script>
  </body>
  
</html>
