
<h1>Enemy Stat</h1>


    <div>
        <h1>Search for Enemies</h1>
        <form action="/enemy/search" method="GET">
            Enemy Name: <input type="text" name="search">
            
            <input type="submit">
        
        </form>
        
    </div>
